.header {
  background: $primary;
}

.header__content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__content > * {
  margin: 0;
}

.header__content button {
  text-decoration: underline;
  text-transform: capitalize;
}
